# Ігнорувати всі файли в папці Library
Library/

# Ігнорувати конкретні папки
Pictures/Photos Library.photoslibrary/
Library/Application Support/

# Ігнорувати тимчасові файли, які часто створюються різними програмами
*.log
*.tmp

# Ігнорувати файли конкретних розширень
*.db
*.swp
